/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #333333;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;


color: #FFFFFF;
}

.main_image img{
    position: absolute;
bottom: -90px;
z-index: 1;
Width:60%;
Height:894px;
}
.highlight{
color: #FF0080;

}
.header__logo{



display: flex;
align-items: center;
}
.header__logo_img{
	padding: 0 20px 0 0;
}
.header__logo_txt{
font-family: Poppins;
font-size: 30px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}


/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1920px;
	padding: 0 0 0 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._container_main {
	max-width: 1700px;
	padding: 0px 0px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: -220px;
	object-fit: cover;

}
/* ---ШАПКА------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 222px;
	align-items: center;
justify-content: space-between;
max-width: 1700px;

}

.menu {


  margin-right:15px;

}
.menu__list {
justify-content: space-between;
	display: flex;

}
.menu__item {
	
}
.menu__item:not(:last-child){
		margin: 0px 90px 0px 0px;
}



.menu__link {
font-family: Raleway;
font-size: 30px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}
.home_txt{
	padding: 0 0 0 20px;
}

.main-block__title{
/* I'm Keisha Levronka */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 75px;
color: #FF0080;

}
.main-block__sub_title{


/* Front End & UI UX Designer */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 50px;
/* identical to box height */

color: #FF0080;
}

.main-block__text{
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}
.main-block__container {
display: grid;
grid-template-columns: 1fr 1fr;
    align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;

	flex-direction: row;
}

.main-block__body{

display: grid;

}
 .main-block__body>* {

    }
.main-block__column{
	background: #333333;
display: flex;

flex-wrap: wrap;
position: relative;

}
.main-block__column:nth-child(1){
margin: 120px 15px 0 50px;
	}
.main-block__column:nth-child(2){
background: #FF0080;
width: 105%;
}
.main-block__column_text{
	font-family: Raleway;
font-size: 35px;
font-weight: 300;
line-height: 41px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
writing-mode: vertical-rl;
transform: rotate(180deg);
padding: 60px 80px 500px 0;
}
.main-block__column_number{
	font-family: Raleway;
font-size: 126px;
font-weight: 300;
line-height: 148px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
    bottom: 80px;
    right: 60px;
position: absolute;
}
.main-block__column_some_rectangle{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.569) 100%);
width: 415px;
height: 176px;
position: absolute;

  right: 0;

  top: 400px;
}
.main-block__introduction{

	display: flex;
	flex-direction: column;
	gap:60px;
max-width: 652px;
}
.main-block__hello{


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 51px;
/* identical to box height */

color: #FF0080;


}
.main-block__heder{

display: flex;
flex-direction: column;
gap: 5px;
}
.main-block__buttons{
	display: flex;
margin: 90px 0 0 0;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
/* identical to box height */

color: #FFFFFF;
}
.contact_me__buttons{
	font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
/* identical to box height */

color: #FFFFFF;
}
.email_me_button{
	
	background: #FF0080;

}

.button{
	display: flex;
	padding: 20px 60px  ;
	white-space: nowrap;
}
.main-block__button_text{
/* Email Me */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
/* identical to box height */

color: #FFFFFF;
padding: 0 0 0 20px;

}
.main-block__button:nth-child(2){

	background: #333333;

}
.skills{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 140px 0 0 0 ;
}
.section__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 160px 0;
}
.reg_text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #FFFFFF;
}
.title_text{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 150%;
color: #FFFFFF;
}
.my_design_text{
max-width: 720px;
}
.my_design__portfolio{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
   grid-row-gap: 30px;

}
.socials{
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin: 180px 80px 0 0;
}
.contact_me{
	display: flex;
	    padding: 50px 70px;
	    margin: 140px 0 0 0;
	background: #43413F;
justify-content: space-between;
align-items: center;
}
.contact_me__buttons{
	display: flex;
}
.contact_me__button_text{
	padding: 0 0 0 20px;
}
.contact_me__button:nth-child(2){
	border: 1px solid #FFFFFF;
	margin: 0 0 0 60px;
}
.contact_me__text{
/* Interested working with me? */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* identical to box height */

color: #FFFFFF;


}
.why_hire_me__advantages{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
   grid-row-gap: 30px;
   padding: 0 15px 0 0;
}
.footer{
		margin: 260px 0 0 0;
}
.footer__container{

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.footer__contact_me{
	width: 100%;
}
.title{


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 75px;
/* identical to box height */

color: #FFFFFF;

}
.text{



max-width: 720px;
}
.why_hire_me__advantage_card{
display: flex;
align-items: center;
flex-direction: column	;
text-align: center;
position: relative;
border: 1px solid #707070;
background: #43413F;
}
.why_hire_me__advantage_card_rectangle{
width: 61px;
height: 119px;

background: #FF0080;
margin-left: auto;
}
.footer__contact_me_social{
	display: flex;
	flex-direction: row;
	gap: 140px;
	margin: 20px 0 0 0;
}
.footer__logo{
	margin: 200px 0 0 0;
	line-height: 0;
}
.adv_text{
color: #FF0080;
font-size: 40px;
}
.why_hire_me__advantage_card_article{
	display: flex;
	flex-direction: column;
	gap:50px;
	margin: 90px 15px 120px 15px;
}
